.orbit-container {
  background-color: white;
  margin-bottom: -15px;
}
.orbit-bullets{
  z-index: 40;
  top: -30px;
}

.mission-statement{
  color: #28377c;
  font-family: fabrica;
  text-align: center;
  font-size: 150%;
  line-height: 130%;
  margin-left: auto;
  margin-right: auto;
}

.exec-panel {
  background-color: white;
  color: #e6e7e8;
  padding-bottom: 20px;
}

.exec-member {
  color: $28377C;
  padding-bottom: 30px;
}
.exec-title {
  color: #27377C;
  padding-top: 20px;
  padding-bottom: 20px;
}

h5 {
  color: #28377C;
  font-family: fabrica;
  font-size: 140%;
  font-weight: 100;
  margin-bottom: 5px;
  line-height: 80%;
}
.exec-description {
  color: #58585b;
  font-family: fabrica;
  font-size: 70%;
  line-height: 135%;
}
