.services-text {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #cfd0d1;
  padding-top: 5px;
  font-family: arial;
  font-size: 80%;
  line-height: 125%;
  margin-right: 20px;
}
.service {
  padding-bottom: 25px;
  color: #58585B;
}

.clients-text {
  color: #58585B;
  text-align: center;
  font-family: arial;
  font-size: 80%;
  line-height: 125%;
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
}

.client-logo {
  width: 100%;
  position: relative;
  display: table;
  padding-bottom: 25px;
}

.client-logo img{
  margin: auto;
  opacity: .2;
}

.project {
  position: absolute;
  background-color: #28377C;
  color: white;
  z-index: 10;
  display: table-row;
  width: 100%;
  max-width: 280px;
  bottom: 25px;
  font-family: georgia;
  font-style: italic;
  text-align: center;
  font-size: 70%;
  padding-bottom: 10px;
  font-weight: 100;
  opacity: .9;
}
  .project h6{
    font-family: georgia;
    font-style: italic;
    text-align: center;
    color: white;
    font-weight: 100;
    line-height: 60%;
    padding-top: 7px;
  }

.mission-panel {
  background-color: #28377C;
  padding-top: 40px;
  padding-bottom: 40px;
}

.mission-statement{
  color: #dce3e7;
  font-family: Georgia;
  font-style: italic;
  text-align: center;
  font-size: 135%;
  line-height: 120%;
  margin-left: auto;
  margin-right: auto;
}

.testimony-panel2 {
  background-color: white;
  color: #28377C;
  font-family: Georgia;
  font-style: italic;
  text-align: center;
  padding-top: 35px;
  border-bottom-color: #cfd0d1; 
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-color: #cfd0d1; 
  border-top-width: 1px;
  border-top-style: solid;
  margin: 0 auto;
}

.timeline {
  background: #f5f5f6;
  position: relative;
  height: 1100px;
}
.timeline-row{
  padding-top: 83px;
}

.timeline-row1{
  padding-top: 71px;
}
.timeline-image img{
  max-width: 50px;
  margin: auto;
  display: table;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  float: left;
  float: right;
}

.timeline-sub {
  text-align: center;
  color: #58585B;
  font-family: georgia;
  font-style: italic;
  padding-top: 15px;
  padding-bottom: 30px;
  line-height: 140%;
}

.time-text {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #cfd0d1;
  padding-top: 5px;
  font-family: arial;
  font-size: 75%;
  line-height: 125%;
  margin-right: 20px;
}
.time-title {
  color: #58585B;
  vertical-align: middle;
  display: inline-block;
}

.vcenterer {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
