.services-text {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #cfd0d1;
  padding-top: 10px;
  font-family: fabrica;
  font-size: 75%;
}

.service {
  padding-bottom: 40px;
  color: #111946;
}

.faq-panel {
  color: #28377C;
  padding-bottom: 25px;
  padding-top: 25px;
}
  .faq-panel .row.second {
    padding-top: 20px;
  }

.faq-title {
  color: #28377C;
}
.faq-text {
  color: #28377C;
  font-family: fabrica;
  font-size: 70%;
  padding-top: 10px;
}
.faq-subtitle {
  color: #28377C;
}

.testimony-panel {
  background-color: #28377C;
  color: #e6e7e8;
  font-family: fabrica;
  text-align: center;
  padding-top: 25px;
}
  .testimony-panel hr{
    margin: auto;
    padding-bottom: 25px;
    width: 40%
  }
  .testimony-text {
    margin: auto;
    font-size: 160%;
    line-height: 140%;
    width: 90%
  }
  .testimony-by{
    padding-top: 20px;
    font-size: 80%;
    padding-bottom: 25px;
  }
