.basics-text {
  color: #58585B;
  text-align: center;
  font-family: arial;
  font-size: 80%;
  line-height: 125%;
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}

.mission-panel {
  background-color: #28377C;
  padding-top: 40px;
  padding-bottom: 40px;
}

.mission-statement{
  color: #dce3e7;
  font-family: Georgia;
  font-style: italic;
  text-align: center;
  font-size: 135%;
  line-height: 120%;
  margin-left: auto;
  margin-right: auto;
}