.mission-statement{
  color: #58585B;
  font-family: georgia;
  font-style: italic;
  text-align: center;
  font-size: 130%;
  line-height: 130%;
  margin-left: auto;
  margin-right: auto;
}

.container {
	width: 50%;
	margin: 0 auto;
}

.subheader {
	font-family: georgia;
  font-style: italic;
  color: #28377C;
	font-size: 120%;
  line-height: 130%;
}

.past_client_block {
	width: 70%;
}

.service {
  padding-bottom: 25px;
  color: #58585B;
}

.services-text {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #cfd0d1;
  padding-top: 5px;
  font-family: arial;
  font-size: 80%;
  line-height: 125%;
  margin-right: 20px;
}

.past-client-panel {
	text-align: center;
}