.panel-title {
  color: #111946;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  font-family: fabrica;
  width: 70%;
}
  .panel-title h1{
    color: #111946;
    font-family: fabrica;
}

.tbg-panel {
  color: #111946;
  background-color: #ebe7e8;
  padding-bottom: 80px;
}

.mission-panel {
  background-color: #28377C;
  padding-top: 60px;
  padding-bottom: 75px;
}

.mission-statement{
  color: #e6e7e8;
  font-family: fabrica;
  size: 30;
  text-align: center;
  font-size: 120%;
  line-height: 130%;
  margin-left: auto;
  margin-right: auto;
  width: 47%;
}
