.header {
  clear: both;
}
.top-bar {
    background: white;
    min-height: 60px;
    line-height: 60px;
    -webkit-box-shadow: 0px 1px 3px #a6a6a6;
    -moz-box-shadow: 0px 1px 3px #a6a6a6;
    box-shadow: 0px 1px 3px #a6a6a6; }
  .top-bar .name {
    min-height: 60px;
    margin-left: 10px;
  }

.top-bar .toggle-topbar {
    position: absolute;
    right: 0;
    top: 0; }
    .top-bar .toggle-topbar a {
      color: white;
      min-height: 60px;
      line-height: 60px; }
    .top-bar .toggle-topbar.menu-icon a {
      color: #28377C; }
      .top-bar .toggle-topbar.menu-icon a span {
        -webkit-box-shadow: 0 10px 0 1px gray, 0 16px 0 1px gray, 0 22px 0 1px gray;
        box-shadow: 0 10px 0 1px gray, 0 16px 0 1px gray, 0 22px 0 1px gray; }

.top-bar.expanded .title-area {
  background: white; }
.top-bar.expanded .toggle-topbar a {
  color: white; }

@media only screen and (min-width: 640px) {
  .top-bar {
      background: white;
      height: auto;
      line-height: 60px; }
    .top-bar .name{
      padding-top: 10px;
      padding-left: 5px;
    }

  /** Removes black background on menu bar **/
  .top-bar-section ul {
      background: white;
      text-transform: uppercase;
      padding-right: 0px
  }
  /** Changing section items colors/fonts */
  .top-bar-section ul li > a {
    color: #808284; 
    font-family: georgia;
    font-style: italic; }

  /** Removes black background on menu item **/
  .top-bar-section li a:not(.button) {
      background: white;
      line-height: 60px;
      padding: 0px 5px;
      text-transform: none; }
    .top-bar-section li a:not(.button):hover {
      text-decoration: underline;
      background: white;
      color: #28377c;
      font-family: georgia;
      font-style: italic; 
      text-transform: none; }
}

@media only screen and (min-width: 882px) {     
  .top-bar .name{
    padding-left: 75px;
  }
  .top-bar-section ul {
    background: white;
    text-transform: uppercase;
    padding-right: 70px
  }
  .top-bar-section li a:not(.button) {
    background: white;
    line-height: 60px;
    padding: 0px 10px; }
}
@media only screen and (min-width: 1058px) {
  .top-bar-section li a:not(.button) {
    padding: 0px 27px; }
}

.sub-bar {
  width: 100%;
  height: 50px;
  background-color: #e6e7e8;
  -webkit-box-shadow: 0px 1px 3px #a6a6a6;
  -moz-box-shadow: 0px 1px 3px #a6a6a6;
  box-shadow: 0px 1px 3px #a6a6a6; 
  position: relative;
  display: none;
  z-index: 5;
}

.sub-clients{
  z-index: 10;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;  
  text-align: center;
  height: 100%;
}

.sub-about{
  z-index: 10;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;  
  text-align: center;
  height: 100%;
}

.sub-partners{
  z-index: 10;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;  
  text-align: center;
  height: 100%;
}

.inline-list{
  display: inline-block;
  margin-top: 10px;
  line-height: 30px;
}
.sub {
  font-family: georgia;
  font-style: italic;
  font-size: 85%;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #A8A8A8;
  padding-right: 20px;
  margin: auto;
}

.sub-last{
  border: none;
}

.sub a{
  color: #939597;
}

.sub a:hover {
  color: #28377C;
  text-decoration: underline;
}